<div class="card">
  <div class="card-body">

    <div class="row">
      <div class="col-md-6">
        <h1>Wafer Temperature Reading</h1>
      </div>
      <div class="col-md-6">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary"> &#8457;</button>
          <button type="button" class="btn btn-secondary"> &#8451;</button>
        </div>

      </div>
    </div>


    <div class="m-5">
      <div class="col-md-6">
        <div class="chart-container">
          <canvas id="chartb" width="300" height="300"></canvas>
        </div>
      </div>
    </div>

  </div>
</div>